.home-bottom{
	display: flex;
	height: 50px;
	justify-content: space-between;
}
.home-bottom >li{
	width: 30%;
	text-align: center;
}

#tab{
	text-align: center;
	width: 100%;
	display: table;
}

.sidebar .app-name .app-name-link >img{
	width: 60px;
	height: 60px;
}
